.homep {
  height: 100%;
  background-image: url("./images/bg2.jpg");
  background-size: cover;
  opacity: 0.6;
}
.slide {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

@media (max-width: 760px) {
  .slide {
    width: 320px;
    height: 200px;
  }
}
